html,
body {
  height: 100%;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.fullScreen {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header {
  border-bottom: 1px solid lightgray;
}
div.middle {
  flex: 1;
}
footer {
  border-top: 1px solid lightgray;
}
